.Login, .Register, .Create {
  margin: 0 auto;
  max-width: 600px;
}
.About {
  margin: 50px auto;
  max-width: 800px;
}

.About .jumbotron {
  padding-left: 30px;
  padding-right: 30px;
}

.Login, .Register, .Create, .Start {
  padding: 30px 0;
}

button {
  margin: 5px;
}

.posting-list, .posting-map {
  display: inline-block;
  padding: 10px;
}

.horizontal_view {
  display: flex;
  justify-content: center;
  align-items: center;
}
.view {
  text-align:center;
  justify-content: center;
  align-items: center;
}

#vendor-details-well {
  text-align: left;
}

#address-validation {
  display: inline;
}

#current-posting {
  display: inline;
}
